<!-- Created By Sandeep 1/4/2016 -->
{{#pagetitle 'page'}}
    <title>Nodebeats | Open Source CMS | MEAN STACK</title>
{{/pagetitle}}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{{data.bannerHtml}}}
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{{data.aboutHtml}}}
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Nodebeats ?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    {{{data.whyNodebeats}}}
</section>

<section class="no-padding" id="technology">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Technology Stacks </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            {{>technology-stack stacks=data.techStack}}
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        {{{data.downloadHtml}}}
    </div>
</aside>


{{>team team=data.team teamHtml=data.teamHtml}}
<section id="contact">
    <div class="container">
        <div class="row">
            {{{data.contactHtml}}}
        </div>
    </div>

</section>

