{{#if stacks}}
    {{#each stacks}}
        <div class="col-lg-4 col-sm-6">
            <a href="{{cloudinaryUrl imageName option='{"height":"477","width":"700","crop":"fill"}'}}"
               title="{{imageTitle}}" class="portfolio-box">
                <img src="{{cloudinaryUrl imageName option='{"height":"252","width":"450","crop":"thumb"}'}}"
                     title="{{imageTitle}}" class="img-responsive" alt="{{imageAltText}}">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            {{imageTitle}}
                        </div>
                        <div class="project-name">
                            {{imagePrimaryContent}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {{/each}}

{{else}}
    <div>No Data Found !!!</div>
{{/if}}
